.header {
  padding: 20px;
  background-color: #721dc2;
}
.form {
  max-width: 350px;
  margin: auto;
}
.input {
  padding: 4px 8px;
  margin-right: 12px;
}
.btn {
  padding: 4px 8px;
  max-width: 120px;
  background-color: #f1ea20;
}
